body {
    font-family: sans-serif;
    font-size: smaller;
    color: #fafafa;
    background: url("https://www.killerrobots.com/starwarsscroll/starwarsscroll_2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}